<div class="container">
    <div class="col-lg-9 col-lg-offset-2 fool-one-header-bar">
    </div>
    <div class="col-lg-9 col-lg-offset-2 fool-one-header">
    </div>
    <div class="col-lg-9 col-lg-offset-2 fool-one-hackathon">
        H&nbsp;A&nbsp;C&nbsp;K&nbsp;A&nbsp;T&nbsp;H&nbsp;O&nbsp;N
    </div>
    <div class="col-lg-9 col-lg-offset-2 content-area">        
            <!-- ===== vCard Navigation ===== -->
            <div class="row w content-area">
                <div class="col-md-4">
                    <ul class="nav nav-tabs nav-stacked" id="myTab">
                      <li class="active"><a href="#about" style="font-weight: bold;"><i class="fa fa-question-circle fa-lg" style="margin-top: 2px; padding-right: 10px;"></i>About</a></li>
                      <li><a href="#profile" style="font-weight: bold"><i class="fa fa-users" style="padding-right: 9px;"></i> Teams</a></li>
                      <li><a href="#portfolio" style="font-weight: bold"><i class="fa fa-folder-open" style="padding-right: 8px;"></i> API Docs</a></li>
                      <li><a href="#contact" style="font-weight: bold"><i class="fa fa-calendar" style="padding-right: 9px;"></i> Schedule</a></li>
                    </ul> 
                    <img class="img-responsive" src="/img/fool.jpg" alt="Abhishek at Fintech Hackathon in NYC 2013">              
                </div><!-- col-md-4 -->
            <!-- ===== vCard Content ===== -->
            <div class="col-md-8 content-area">
                    <div class="tab-content content-area">
                    
                      <!-- ===== First Tab ===== -->
                      <div class="tab-pane active content-area" id="about">
                        <h1>Details <i class="fa fa-bullhorn" style="margin-top: -4px;"></i></h1>
                        <hr>
                        <p>This internal hackathon is one step, of many more yet to come, towards truly embracing the 'hacker' culture at The Motley Fool and encouraging intreprenuership amongst fools who're passionate about finding new ways to help the world invest better. With such an excellent grasp on the power of today's technology, The Fool's techies are uniquely capable of both identifying and implenting the kinds of innovative solutions that will help drastically shape the future of our business.</p>
                        <h1>Rules <i class="fa fa-gavel" style="margin-top: -3px;"></i></h1>
                        <hr>
                        <p>The event will pit teams of fools against one another in a competition to plan, design, and develop a prototype for an innovation that's either usable by our Fool One members or that benefits them in some way.</p>
                        <h1>Prizes <i class="fa fa-trophy" style="margin-top: -3px;"></i></h1>
                        <hr>
                        <p>The prize breakdown goes like this:</p>
                        
                      </div><!-- tab about -->
                      
                      <!-- ===== Second Tab ===== -->
                      <div class="tab-pane content-area" id="profile">
                        <h1>Teams <i class="fa fa-group"></i></h1>
                        <hr>
                        <h3>Mobile App</h3>
                        <h5>Captain: Matt Flinn</h5>
                        <p>More details to come.</p>
                        <hr>
                        <h3>Analytics Tool</h3>
                        <h5>Captain: Abhishek Kapatkar</h5>
                        <p>More details to come.</p>
                        <hr>
                        <h3>Investing Game</h3>
                        <h5>Captain: Risto Keravuori</h5>
                        <p>More details to come.</p>
                      </div><!-- Tab Profile -->
                      
                      <!-- ===== Third Tab ===== -->
                      <div class="tab-pane content-area" id="portfolio">
                        <h1>API Documentation <i class="fa fa-book fa-lg"></i></h1>
                        <hr>
                        <h3>Quotes</h3>
                        <p>Documentation for the Quotes API can be found <a>here</a>.</p>
                        <h3>Premium</h3>
                        <p>Documentation for the Premium API can be found <a>here</a>.</p>
                        <h3>Content</h3>
                        <p>Documentation for the Content API can be found <a>here</a>.</p>
                        <h3>Authentication</h3>
                        <p>Documentation for the Auth API can be found <a>here</a>.</p>
                        <h3>Informant</h3>
                        <p>Documentation for the Informant API can be found <a>here</a>.</p>
                      </div><!-- /Tab Portfolio -->
                      
                      <!-- ===== Fourth Tab ===== -->
                      <div class="tab-pane content-area" id="contact">
                        <h1>Schedule <i class="fa fa-calendar fa-lg"></i></h1>
                        <hr>                        
                        <h3>Wed, Feb. 12th</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-comments-o"></i> &#8212; Let Abhishek or Flinn know if you want to captain a team.</li>
                        </ul>
                        <h3>Fri, Feb. 21st</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-lightbulb-o"></i> &#8212; Premilinary ideas, team captains & their tech stacks will be posted.</li>
                        </ul>
                        <h3>Thurs, Feb. 27th</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-beer"></i><b class="pm">05PM</b> &#8212; Hacker happy hour and final details. Location TBD.</li>
                        </ul>
                        <h3>Fri, Feb. 28th</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-laptop"></i><b class="am">08AM</b> &#8212; Begin Hacking! Teams at either 1776 or FoolHQ.</li>
                            <li><i class="fa-li fa fa-envelope-o"></i><b class="pm">06PM</b> &#8212; Submit your final team roster, team name, and your idea.</li>
                        </ul>
                        <h3>Monday, Mar. 3rd</h5>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-code-fork"></i><b class="am">10AM</b> &#8212; Last Source Control Commits</li>
                            <li><i class="fa-li fa fa-eye"></i><b class="am">11AM</b> &#8212; Teams Present to Judges</li>
                            <li><i class="fa-li fa fa-flag-checkered"></i><b class="pm">12PM</b> &#8212; Winners Chosen by Noon & Prizes Awarded</li>
                        </ul>

                      </div><!-- Tab Contact -->
                      
                    </div><!-- Tab Content -->
            </div><!-- col-md-8 -->
        </div><!-- row w -->
    </div><!-- col-lg-8 -->
</div><!-- /.container -->