<div class="container">
    <div class="col-lg-9 col-lg-offset-2 fool-one-header-bar">
    </div>
    <div class="col-lg-9 col-lg-offset-2 fool-one-header">
    </div>
    <div class="col-lg-9 col-lg-offset-2 fool-one-hackathon">
        H&nbsp;A&nbsp;C&nbsp;K&nbsp;A&nbsp;T&nbsp;H&nbsp;O&nbsp;N
    </div>
    <div class="col-lg-9 col-lg-offset-2 content-area">        
            <!-- ===== vCard Navigation ===== -->
            <div class="row w content-area">
                <div class="col-md-4">
                    <ul class="nav nav-tabs nav-stacked" id="myTab">
                      <li class="active"><a href="#about" style="font-weight: bold;"><i class="fa fa-question-circle fa-lg" style="margin-top: 2px; padding-right: 10px;"></i>About</a></li>
                      <li><a href="#profile" style="font-weight: bold"><i class="fa fa-users" style="padding-right: 9px;"></i> Teams</a></li>
                      <li><a href="#portfolio" style="font-weight: bold"><i class="fa fa-folder-open" style="padding-right: 8px;"></i> API Docs</a></li>
                      <li><a href="#contact" style="font-weight: bold"><i class="fa fa-calendar" style="padding-right: 9px;"></i> Schedule</a></li>
                    </ul> 
                    <img class="img-responsive" src="/img/fool.jpg" alt="Abhishek at Fintech Hackathon in NYC 2013">              
                </div><!-- col-md-4 -->
            <!-- ===== vCard Content ===== -->
            <div class="col-md-8 content-area">
                    <div class="tab-content content-area">
                    
                      <!-- ===== First Tab ===== -->
                      <div class="tab-pane active content-area" id="about">                        
                        <div style="text-align: center">
                            <img src="/img/brace_for_hacking.png" style="display: inline-block" alt="In case you're like 'really busy' or something...because you're like 'really important' or whatever. We're jealous." />
                        </div>
                        <br/>
                        <h1>Details <i class="fa fa-bullhorn" style="margin-top: -4px;"></i></h1>
                        <hr>
                        <p>At the close of our last huddle, David Gardner quoted Stewart Brand in saying,</p>
                        <h3 style="margin-top: -15px;"><em><b>“Once a new technology rolls over you, if you’re not part of the steamroller, you’re part of the road.”</b></em></h3>
                        <p>He then challenged us all to avoid becoming part of the road by instead becoming <b>more technologically savvy</b> and <b>increasingly adaptive to change</b>. Doing so enables us to welcome technological advancements to our workflows and take full advantage of the benefits they offer.</p>
                        <p>Harnessing new technologies, such as those developed at hackathons or through other creative outlets, will allow us to better serve our members and more successfully accomplish our purpose. These breakthroughs help us create a larger and stronger Fool community with content and advice that is <b>more personalized, accessible, and widely distributed</b> than ever before. The upcoming Fool One Hackathon is a single step amongst many that we hope begins cultivating a productive <b>“hacker culture”</b> at The Fool which encourages <em>intra</em>preneurship &#8212; Especially amongst those fools who’re passionate about finding new ways <b><em>to help the world invest better</em></b>.</p>
                        <p>Our intimate understanding of the power of today's technology makes us “Techies” uniquely capable of both <b>identifying</b> and <b>implementing</b> the kinds of innovative solutions that will undoubtedly shape the future of our business. The main focus of this hackathon is <b><em>to establish new features and ideas targeting the Motley Fool One service</em></b>, which is comprised of our most ardent and loyal customers. Given that these members have access to our full range of services, there’s almost <b>no limit on how creative our ideas can be</b>. The developments we’re able to adopt at this high end of our business will eventually either trickle down or at least fuel the changes we hope to initiate at the lower end.</p>
                        <p>I’m excited to announce that our first internal hackathon will occur at the end of this month on <b>Friday, February 28th</b>. If you’ve already got an idea you’d like to see implemented or would like to lead a team, please reach out to either Abhishek or myself by the 12th. For the sake of convenience, we’re compiling a list of the possible projects and teams along with the tech stacks they plan to use that you’ll have the option of joining. <b>However, please don’t let this deter you from blazing your own trail if you’d rather</b>. The prizes for winning teams will be worth the effort, so competition will certainly be fierce. I look forward to seeing the innovations we're able to come up with and wish everyone the best of luck!<p>
                        <p style="text-align: right; padding-right: 20px;"><b><em>Happy Hacking & Fool On</b> &#8212; Flinn</em></p>
                        <h1>Rules <i class="fa fa-gavel" style="margin-top: -3px;"></i></h1>
                        <hr>
                        <p>The event will pit teams of fools against one another in a competition that entails collaborating in self-forming teams to plan, design, and then develop a prototype of an innovation targeted at our Fool One members. Expect more details on rules to be announced here soon!</p>
                        <h1>Prizes <i class="fa fa-trophy" style="margin-top: -3px;"></i></h1>
                        <hr>
                        <p>Information regarding the prizes and awards will be posted soon. But that's still exciting! Why's that? Because that means we've pushed for such <em><b>awesome</b></em> rewards that they've required approval from the powers that be. We promise to let you guys know more as soon as we do...</p>
                        <div style="text-align: center">
                            <img src="/img/cat_suspense.png" style="display: inline-block" />
                        </div>
                        <br/>
                        <br/>
                        <br/>
                      </div><!-- tab about -->
                      
                      <!-- ===== Second Tab ===== -->
                      <div class="tab-pane content-area" id="profile">
                        <h1>Teams <i class="fa fa-group"></i></h1>
                        <hr>
                        <h3>Mobile App</h3>
                        <h5>Captain: Matt Flinn</h5>
                        <p>More details soon.</p>
                        <hr>
                        <h3>Analytics Tool</h3>
                        <h5>Captain: Abhishek Kapatkar</h5>
                        <p>More details soon.</p>
                        <hr>
                        <h3>Investing Game</h3>
                        <h5>Captain: Risto Keravuori</h5>
                        <p>More details soon.</p>
                        <br/>
                        <br/>
                        <br/>
                      </div><!-- Tab Profile -->
                      
                      <!-- ===== Third Tab ===== -->
                      <div class="tab-pane content-area" id="portfolio">
                        <h1>API Documentation <i class="fa fa-book fa-lg"></i></h1>
                        <hr>
                        <h3>Quotes</h3>
                        <p>Documentation for the Quotes API can be found <a>here</a>.</p>
                        <h3>Premium</h3>
                        <p>Documentation for the Premium API can be found <a>here</a>.</p>
                        <h3>Content</h3>
                        <p>Documentation for the Content API can be found <a>here</a>.</p>
                        <h3>Authentication</h3>
                        <p>Documentation for the Auth API can be found <a>here</a>.</p>
                        <h3>Informant</h3>
                        <p>Documentation for the Informant API can be found <a>here</a>.</p>
                        <h3>Folios</h3>
                        <p>Documentation for the Informant API can be found <a>here</a>.</p>
                        <br/>
                        <br/>
                        <br/>
                      </div><!-- /Tab Portfolio -->
                      
                      <!-- ===== Fourth Tab ===== -->
                      <div class="tab-pane content-area" id="contact">
                        <h1>Schedule <i class="fa fa-calendar fa-lg"></i></h1>
                        <hr>                        
                        <h3>By Wed, Feb. 12th</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-comments-o"></i> &#8212; Let Abhishek or Flinn know if you have an idea or want to captain a team.</li>
                        </ul>
                        <h3>By Fri, Feb. 21st</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-lightbulb-o"></i>&#8212; Premilinary ideas, team captains & their tech stacks will be posted.</li>
                        </ul>
                        <h3>On Thurs, Feb. 27th</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-beer"></i><b class="pm">05PM</b> &#8212; Hacker happy hour for final details. Location TBD.</li>
                        </ul>
                        <h3>On Fri, Feb. 28th</h3>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-laptop"></i><b class="am">08AM</b> &#8212; Begin Hacking! Teams at either <a href="http://1776dc.com/">1776</a> or FoolHQ.</li>
                            <li><i class="fa-li fa fa-envelope-o"></i><b class="pm">06PM</b> &#8212; Submit your final team roster, team name, and your idea.</li>
                        </ul>
                        <h3>On Monday, Mar. 3rd</h5>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-code-fork"></i><b class="am">10AM</b> &#8212; Last commits must be pushed to source control.</li>
                            <li><i class="fa-li fa fa-eye"></i><b class="am">11AM</b> &#8212; Teams will present their hack to our panel of Foolish judges.</li>
                            <li><i class="fa-li fa fa-flag-checkered"></i><b class="pm">12PM</b> &#8212; Winners will be chosen by noon and prizes awarded.</li>
                        </ul>
                        <br/>
                        <br/>
                        <br/>
                      </div><!-- Tab Contact -->
                      
                    </div><!-- Tab Content -->
            </div><!-- col-md-8 -->
        </div><!-- row w -->
    </div><!-- col-lg-8 -->
</div><!-- /.container -->