<div class="container">
    <div class="col-lg-5 col-lg-offset-4 fool-one-header-bar">
    </div>
    <div class="col-lg-5 col-lg-offset-4 fool-one-header">
    </div>
    <div class="col-lg-5 col-lg-offset-4 fool-one-hackathon">
        H&nbsp;A&nbsp;C&nbsp;K&nbsp;A&nbsp;T&nbsp;H&nbsp;O&nbsp;N
    </div>
    <div class="col-lg-5 col-lg-offset-4 content-area">        
            <!-- ===== vCard Navigation ===== -->
            <div class="row w content-area">
                <div class="col-md-4">
                    <ul class="nav nav-tabs nav-stacked" id="myTab">
                      <li class="active"><a href="#about" style="font-weight: bold;"><i class="fa fa-question-circle fa-lg" style="margin-top: 2px; padding-right: 10px;"></i>About</a></li>
                      <li><a href="#profile" style="font-weight: bold"><i class="fa fa-users" style="padding-right: 9px;"></i> Teams</a></li>
                      <li><a href="#portfolio" style="font-weight: bold"><i class="fa fa-folder-open" style="padding-right: 8px;"></i> API Docs</a></li>
                      <li><a href="#contact" style="font-weight: bold"><i class="fa fa-calendar" style="padding-right: 9px;"></i> Schedule</a></li>
                    </ul> 
                    <img class="img-responsive" src="/img/fool.jpg" alt="Abhishek at Fintech Hackathon in NYC 2013">              
                </div><!-- col-md-4 -->
            <!-- ===== vCard Content ===== -->
            <div class="col-md-8 content-area">
                    <div class="tab-content content-area">
                    
                      <!-- ===== First Tab ===== -->
                      <div class="tab-pane active content-area" id="about">
                        <h1>&nbsp;&nbsp;<i class="fa fa-bullhorn fa-lg"></i> Details</h1>
                        <hr>
                        <p>This internal hackathon is one step, of many more yet to come, towards truly embracing the 'hacker' culture at The Motley Fool and encouraging intreprenuership amongst fools who're passionate about finding new ways to help the world invest better. With such an excellent grasp on the power of today's technology, The Fool's techies are uniquely capable of both identifying and implenting the kinds of innovation solutions that will help drastically shape the future of our business.</p>
                        <h1>&nbsp;&nbsp;<i class="fa fa-gavel fa-lg"></i> Rules</h1>
                        <hr>
                        <p>The event will pit teams of fools against one another in a competition to plan, design, and develop a prototype for an innovation that's either usable by our Fool One members or that benefits them in some way.</p>
                        <h1>&nbsp;&nbsp;<i class="fa fa-trophy"></i> Prizes</h1>
                        <hr>
                        <p>The prize breakdown goes like this:</p>
                        
                      </div><!-- tab about -->
                      
                      <!-- ===== Second Tab ===== -->
                      <div class="tab-pane content-area" id="profile">
                        <h1>&nbsp;&nbsp;<i class="fa fa-group fa-lg"></i>&nbsp;Teams</h1>
                        <hr>
                        <h3>Mobile App</h3>
                        <h5>Captain: Matt Flinn</h5>
                        <p><strong>Description:</strong> This team will be building XYZ and using a technology stack that includes A, B, and C.</p>
                        <h3>Content Management</h3>
                        <h5>Captain: Abhishek Kapatkar</h5>
                        <p><strong>Description:</strong> This team will be building XYZ and using a technology stack that includes A, B, and C.</p>
                        <h3>Investing Game</h3>
                        <h5>Captain: Risto Something</h5>
                        <p><strong>Description:</strong> This team will be building XYZ and using a technology stack that includes A, B, and C.</p>
                      </div><!-- Tab Profile -->
                      
                      <!-- ===== Third Tab ===== -->
                      <div class="tab-pane content-area" id="portfolio">
                        <h1>&nbsp;&nbsp;<i class="fa fa-book fa-lg"></i>&nbsp;Documentation</h1>
                        <hr>
                        <h5>Quotes</h5>
                        <p>Documentation for the Quotes API can be found <a>here</a>.</p>
                        <h5>Premium</h5>
                        <p>Documentation for the Premium API can be found <a>here</a>.</p>
                        <h5>Content</h5>
                        <p>Documentation for the Content API can be found <a>here</a>.</p>
                        <h5>Authentication</h5>
                        <p>Documentation for the Auth API can be found <a>here</a>.</p>
                        <h5>Informant</h5>
                        <p>Documentation for the Informant API can be found <a>here</a>.</p>
                      </div><!-- /Tab Portfolio -->
                      
                      <!-- ===== Fourth Tab ===== -->
                      <div class="tab-pane content-area" id="contact">
                        <h1>&nbsp;&nbsp;<i class="fa fa-calendar fa-lg"></i>&nbsp;Schedule</h1>
                        <hr>
                        <p>The Motley Fool One Hackathon will</p>
                      </div><!-- Tab Contact -->
                      
                    </div><!-- Tab Content -->
            </div><!-- col-md-8 -->
        </div><!-- row w -->
    </div><!-- col-lg-8 -->
</div><!-- /.container -->